<section class="my-4" style="min-height: 100vh;">
  <div class="container">
    @if (jobList) {
      @for (job of jobList; track $index) {
        <div class="border rounded shadow mb-4">
          <app-job-item [job]="job"></app-job-item>
        </div>
      }
    } @else {
      <h4>Job Not Found.</h4>
    }
  </div>
</section>
