<section class="my-4">
    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="card p-1 shadow-sm">
                    <div class="card-body">
                        <form [formGroup]="formEmployer">
                            <h4 class="cart-title mb-3">
                                Employer
                            </h4>
                            <div class="form-group mb-3">
                                <label for="employerName" class="form-label">Name<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="employerName" formControlName="name"
                                    required autofocus>
                            </div>
                            <div class="form-group mb-3">
                                <label for="employerEmail" class="form-label">Email<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="employerEmail" formControlName="email"
                                    required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="employerPassword" class="form-label">Password<span
                                        style="color: red;">*</span></label>
                                <input type="password" class="form-control" formControlName="password"
                                    id="employerPassword" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="phone" class="form-label">Phone<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="phone" formControlName="phone" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card p-1 shadow-sm">
                    <div class="card-body">
                        <form [formGroup]="formCompany">
                            <h4 class="cart-title mb-3">
                                Company
                            </h4>
                            <div class="form-group mb-3">
                                <label for="companyName" class="form-label">Name<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="companyName" formControlName="name" required
                                    autofocus>
                            </div>
                            <div class="form-group mb-3">
                                <label for="website" class="form-label">Website<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="website" formControlName="website" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="location" class="form-label">Location<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="location" formControlName="location"
                                    required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="logo" class="form-label">Logo<span style="color: red;">*</span></label>
                                <input type="file" class="form-control" id="logo" formControlName="logo" (change)="selectLogo($event)" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col alert alert-light d-flex align-tems-center justify-content-between">
                <div>
                    {{ message }}
                </div>
                <div>
                    <div class="text-end">
                        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="loading">
                            @if (loading) {
                                <span class="spinner-border spinner-border-sm"></span>
                            }
                            <span role="status">Register</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>