<div class="container my-4">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <h4>Create Post</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formPost" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <label for="title" class="form-labe;">Title<span style="color: red;">*</span></label>
                            <input type="text" id="title" class="form-control" [ngClass]="(title?.errors && submitted) ? 'is-invalid' : ''" formControlName="title">
                        </div>
                        <div class="form-group mb-3">
                            <label for="introduction" class="form-labe;">Introduction<span style="color: red;">*</span></label>
                            <textarea type="text" id="introduction" class="form-control" rows="3" [ngClass]="(introduction?.errors && submitted) ? 'is-invalid' : ''" formControlName="introduction"></textarea>
                        </div>
                        <div class="form-group mb-5">
                            <label for="content" class="form-labe;">Content<span style="color: red;">*</span></label>
                            <textarea type="text" id="content" class="form-control" [ngClass]="(content?.errors && submitted) ? 'is-invalid' : ''" rows="10" formControlName="content"></textarea>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <div>
                                @if (message) {
                                    <div class="alert alert-success">{{ message }}</div>
                                }
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary px-4" [disabled]="loading">
                                    @if (loading) {
                                        <span class="spinner-border spinner-border-sm"></span>
                                    }
                                    <span role="status">Create</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>