.btn-item {
    border: 1px solid #a9a9a9;
    border-radius: 6px;
    margin: 0 .5rem;
}

.btn-item:hover {
    background-color: #702ff1;
    color: #ffffff;
    border: 1px solid #702ff1;
}

.bg-violet {
    background-color: #6528e0;
    color: #ffffff;
    border: 1px solid #6528e0;
}
