<a [routerLink]="['/posts', post.postId]" class="text-decoration-none post-link">
  <div class="card">
    <img
      src="https://www.vietnamworks.com//hrinsider//wp-content/uploads/2023/12/Shutterstock_2347206443-1-300x225.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title post-title" style="color: #333">
        {{ post.title }}
      </h5>
      <p class="card-text post-introduction" style="color: #555">
        {{ post.introduction }}
      </p>
    </div>
  </div>
</a>
