.post-link {
  .card:hover {
    border-color: rgb(255, 128, 0);
    color: rgb(255, 128, 0);
  }
  .post-title {
    line-height: 1.5rem;
    height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .post-introduction {
    line-height: 1.2rem;
    height: 4.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
