.job-name,
.company-name {
  line-height: 1.2rem;
  height: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  a {
    text-decoration: none;
    color: #333;
    transition: all ease-in 0.15s;
  }

  a:hover {
    color: rgb(255, 115, 0);
  }
}

.job-salary {
  color: rgb(255, 149, 0);
}
