<section style="min-height: 100vh; margin: 1.5rem 0;">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    {{ post?.title}}
                </h3>
                <div style="color: #555;">{{ post?.createdAt | date:'dd/MM/YYYY' }}</div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post?.introduction }}</p>
                <p class="card-text">{{ post?.content }}</p>
            </div>
        </div>
    </div>
</section>