<section>
  <div class="container">
    <img src="https://images02.vietnamworks.com//companyprofile/null/en/Bìa_1.jpg" alt="" width="100%">
    <div class="row">
      <div class="col-2 d-flex align-items-center justify-content-center mb-3">
        <img [src]="company?.logo" alt="" width="100%">
      </div>
      <div class="col-8 d-flex align-items-start justify-content-center flex-column">
        <h4>{{ company?.name }}</h4>
        <div>
          <span>{{ company?.location }}</span>
          <span class="px-2">|</span>
          <a [href]="company?.website" class="text-decoration-none">{{ company?.website }}</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mb-4">
      <div class="col">
        <div class="card">
          <div class="card-header">We Have {{ jobList?.length }} Jobs For You</div>
          <div class="card-body">
            <div class="row g-3">
              @if (jobList) { @for (job of jobList; track $index) {
              <div class="col-12 col-md-6 col-lg-4">
                <app-job-item [job]="job"></app-job-item>
              </div>
              } } @else {
              <h5>Job Not Found</h5>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
