<section>
  <div class="container">
    @if (company?.banner) {
      <img [src]="company?.banner" alt="" width="100%">
    } @else {
      <img src="https://images02.vietnamworks.com//companyprofile/null/en/Bìa_1.jpg" alt="" width="100%">
    }
    <div class="row">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <img [src]="company?.logo" alt="" width="100%">
      </div>
      <div class="col-8 d-flex align-items-start justify-content-center flex-column">
        <h4>{{ company?.name }}</h4>
        <div>
          <span>{{ company?.location }}</span>
          <span class="px-2">|</span>
          <a [href]="company?.website" class="text-decoration-none">{{ company?.website }}</a>
        </div>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#companyModal"><i class="fa-solid fa-pen-to-square"></i>Edit Company</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Company Info</div>
          <div class="card-body">
            <p class="card-text" [innerHTML]="company?.description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Company</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCompany">
          <div class="mb-3">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="website" class="col-form-label">Website:</label>
            <input type="text" class="form-control" id="website" formControlName="website">
          </div>
          <div class="mb-3">
            <label for="Location" class="col-form-label">Location:</label>
            <input type="text" class="form-control" id="Location" formControlName="location">
          </div>
          <div class="mb-3">
            <label for="banner" class="form-label">Banner: </label>
            <input class="form-control form-control-sm" id="banner" type="file" (change)="onSelectBanner($event)" formControlName="banner">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Info:</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
</section>
