<!-- Section: Design Block -->
<section class="text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
                    <div class="card-body p-5 shadow-5">
                        <h2 class="fw-bold mb-5 text-center">Login</h2>
                        @if (errorMessage) {
                            <div class="alert alert-danger mb-4">{{ errorMessage }}</div>
                        }
                        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="email">Email address<span style="color: red;">*</span></label>
                                <input type="email" id="email" class="form-control" [ngClass]="(email?.errors && (email?.dirty || email?.touched)) ? 'is-invalid' : ''" formControlName="email" required autofocus />
                            </div>

                            <!-- Password input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="password">Password<span style="color: red;">*</span></label>
                                <input type="password" id="password" class="form-control" [ngClass]="(password?.errors && (password?.dirty || password?.touched)) ? 'is-invalid' : ''" formControlName="password" required />
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label class="form-check-label" for="form2Example3">
                                        Remember me
                                    </label>
                                </div>
                                <a href="#!" class="text-body text-decoration-none">Forgot password?</a>
                            </div>

                            <!-- Submit button -->
                            <div class="d-flex align-items-center justify-content-between">
                                <div></div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary btn-block px-5 mb-4" [disabled]="loading">
                                        @if (loading) {
                                            <span class="spinner-border spinner-border-sm"></span>
                                        }
                                        <span role="status">Login</span>
                                    </button>
                                </div>
                            </div>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or: <a routerLink="/employer/register" class="btn btn-link">Register an Account</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://asd.mediacdn.vn/adt/tuyendungvccorp/ung-xu-cho-buoi-phong-van_832a2279-fe9b-46bb-b7cc-bcb08c817275.jpg"
                    class="w-100 rounded-4 shadow-4" alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->