main {
    min-height: 100vh;
    background-color: #F4F7FA;
    padding: 1rem 0;
}

.btn-heart {
    border: 1px solid #555;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1.5rem;
    color: #555;
    margin: 0 .5rem;
    transition: all ease .15s;

    .heart-active {
        color: red;
    }

}

.btn-heart:hover {
    background-color: rgba($color: #a3a3a3, $alpha: .1);
}

.company-link {
    text-decoration: none;
}

.job-salary {
    color: rgb(255, 145, 0);
}