<main>
  <section class="mb-4">
    <div style="background-color: #ffffff">
      <div class="container">
        <div class="row">
          <div class="col p-3">
            <div class="card mb-3 mx-lg-5 p-3">
              <div class="row g-0">
                <div
                  class="col-md-3 col-lg-2 d-flex align-items-center justify-content-center"
                >
                  <img
                    [src]="job?.company?.logo"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-7 col-lg-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ job?.name }}</h5>
                    <div>
                      <a [href]="job?.company?.website" class="company-link">{{
                        job?.company?.name
                      }}</a>
                    </div>
                    <div class="job-location">
                      Job Locations: {{ job?.location }}
                    </div>
                    <div class="job-salary">{{ job?.salary }}</div>
                  </div>
                </div>
                <div
                  class="col-md-2 d-flex align-items-center justify-content-center"
                >
                  <button class="btn-heart py-0 px-2" (click)="heartClick()">
                    <i
                      class="fa-regular fa-heart"
                      [ngClass]="favoriteJob ? 'heart-active' : ''"
                    ></i>
                  </button>
                  @if (isApplied) {
                  <button class="btn btn-info" type="button">Applied</button>
                  } @else {
                  <button
                    class="btn btn-warning"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#applyModal"
                    data-bs-whatever="@mdo"
                    (click)="onApply()"
                  >
                    Apply Now
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-4">
    <div style="background-color: #ffffff">
      <div class="container">
        <div class="row">
          <div class="col p-3">
            <div class="card mb-3 mx-lg-5 p-3">
              <div class="row g-0">
                <div class="col-md-9">
                  <div class="card-body">
                    <div class="mb-3">
                      <h4 class="card-title">WHAT WE CAN OFFER</h4>
                      <div class="card-text" [innerHTML]="job?.offer"></div>
                    </div>
                    <div class="mb-4">
                      <h4>JOB DESCRIPTION</h4>
                      <div [innerHTML]="job?.description"></div>
                    </div>
                    <div>
                      <h4>JOB REQUIREMENTS</h4>
                      <div [innerHTML]="job?.requirement"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-3 border rounded p-2"
                  style="background-color: #f0f7ff"
                >
                  <div>
                    <div>
                      <div style="color: #555">POSTED DATE</div>
                      <div>{{ job?.createdAt | date : "dd/MM/yyyy" }}</div>
                    </div>
                    <hr />
                    <div>
                      <div style="color: #555">JOB LEVEL</div>
                      <div>Manager</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    @if (showModalApply) {
    <div
      class="modal fade"
      id="applyModal"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Apply Job</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formApply" (ngSubmit)="apply()">
              @if (errorMessage) {
              <div class="alert alert-danger">{{ errorMessage }}</div>
              }
              <div class="mb-4">
                <label for="coverLetter" class="form-label">Cover letter</label>
                <textarea
                  class="form-control"
                  id="coverLetter"
                  rows="4"
                  formControlName="coverLetter"
                  placeholder="Enter your cover letter"
                  autofocus
                  required
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="cv" class="form-label">CV</label>
                <input
                  class="form-control"
                  type="file"
                  (change)="selectCV($event)"
                  id="cv"
                  formControlName="cv"
                  required
                />
              </div>
              <hr />
              <div class="d-flex align-items-center justify-content-end">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <span class="mx-2"></span>
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  [disabled]="loading"
                >
                  @if (loading) {
                  <span class="spinner-border spinner-border-sm"></span>
                  }
                  <span role="status">Apply</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</main>
