<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center my-4">
        <h1>My Profile</h1>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                class="img-fluid rounded-start"
                alt="avatar"
                height="100%"
                width="100%"
              />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">{{ user?.fullName }}</h5>
                <div class="d-flex">
                  <div>
                    <p class="card-text">
                      Date of Birth: {{ user?.dateOfBirth | date:'dd/MM/yyy' }}
                    </p>
                    <p class="card-text">Gender: {{ user?.gender }}</p>
                  </div>
                  <span
                    class="mx-3 border"
                    style="width: 2px; background-color: rgb(246, 255, 247)"
                  ></span>
                  <div>
                    <p class="card-text">Email: {{ user?.email }}</p>
                    <p class="card-text">Phone: {{ user?.phone }}</p>
                    <p class="card-text">Address: {{ user?.address }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col text-end">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
          data-bs-whatever="@getbootstrap"
          (click)="openModal()"
        >
          <i class="fa-solid fa-user-pen"></i>Edit Profile
        </button>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            <i class="fa-solid fa-user-pen"></i> Edit Profile
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formUpdate" (ngSubmit)="onSubmit()">
            @if (message) {
              <div class="mb-3 alert alert-success">{{ message }}</div>
            }
            <div class="mb-3">
              <label for="full-name" class="col-form-label">Full name<span style="color: red;">*</span>:</label>
              <input type="text" class="form-control" id="full-name" formControlName="fullName" />
            </div>
            <div class="mb-3">
              <label for="dob" class="col-form-label">Date of Birth<span style="color: red;">*</span>:</label>
              <input
                type="date"
                class="form-control"
                id="dob"
                formControlName="dateOfBirth"
              />
            </div>
            <div class="mb-3">
              <label for="gender" class="col-form-label me-2">Gender<span style="color: red;">*</span>: </label>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="inlineRadio1"
                  value="Male"
                  formControlName="gender"
                />
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="inlineRadio2"
                  value="Female"
                  formControlName="gender"
                />
                <label class="form-check-label" for="inlineRadio2"
                  >Female</label
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="col-form-label">Phone<span style="color: red;">*</span>:</label>
              <input type="text" class="form-control" id="phone" formControlName="phone" />
            </div>
            <div class="mb-3">
              <label for="address" class="col-form-label">Address<span style="color: red;">*</span>:</label>
              <input type="text" class="form-control" id="address" formControlName="address" />
            </div>
            <hr>
            <div class="text-end">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <span class="px-2"></span>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
