main {
  min-height: 100vh;
  background-color: #f4f7fa;
}

.company-link {
  text-decoration: none;

  .card {
    transition: all ease-in 0.15s;
  }

  .card:hover {
    border: 1px solid orange;
    color: orange;
  }
}

.category-link {
  text-decoration: none;

  .card {
    background-color: aliceblue;
  }
}

.category-name {
  line-height: 1.2rem;
  height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.company-name {
  line-height: 1.5rem;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
