<main class="py-4">
  <section class="banner-section mb-4">
    <div class="container">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img
                src="./assets/images/AeonS_hrbn_124684.webp"
                class="d-block w-100 banner-img"
                alt="..."
              />
            </a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="company-section mb-4">
    <div class="container border rounded p-3 bg-white">
      <h3>Featured Companies</h3>
      <div class="row g-3">
        @if (companies) {
          @for (company of companies; track $index) {
            <div class="col-6 col-md-3 col-lg-2">
              <a [routerLink]="['/companies', company.companyId]" class="company-link">
                <div class="card">
                  <div class="d-flex align-items-center justify-content-center">
                    <img
                      [src]="company.logo"
                      alt=""
                      class="card-img-top"
                      width="100px"
                      height="100px"
                    />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center company-name">{{ company.name }}</h5>
                    <div class="text-center">
                      <span class="badge bg-primary">NEW JOBS</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          }
        }
      </div>
    </div>
  </section>
  <section class="job-section mb-4">
    <div class="container border rounded p-3 bg-white">
      <h3>Jobs</h3>
      <hr />
      <div class="row g-3">
        @if (jobList) { @for (job of jobList; track $index) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-job-item [job]="job"></app-job-item>
        </div>
        } } @else {
        <h5>Job Not Found</h5>
        }
      </div>
    </div>
  </section>
  <section class="category-section mb-4">
    <div class="container border rounded p-3 bg-white">
      <h3>Hot Categories</h3>
      <div class="row g-3">
        <div class="col-4 col-md-3 col-lg-2">
          <a [routerLink]="['/field']" [queryParams]="{ id: 2 }" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="https://images02.vietnamworks.com/mobile_banner/3095006ad19fe6c6b284e35dce25dda3.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">Information Tecnology(IT)</h5>
                <div class="text-center">
                  <span class="badge bg-info">140 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="	https://images02.vietnamworks.com/mobile_banner/7067646b513803cced0aba32aa13e7f4.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">
                  Logistics / Import Export/Warehouse
                </h5>
                <div class="text-center">
                  <span class="badge bg-info">30 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="https://images02.vietnamworks.com/mobile_banner/f4c5be6a1c28aeb6856455d4503da972.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">
                  Marketing, Advertising / Communications
                </h5>
                <div class="text-center">
                  <span class="badge bg-info">10 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="https://images02.vietnamworks.com/mobile_banner/c15084a618ca5126f2cc0e6478ea901c.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">
                  Administration / Office Support
                </h5>
                <div class="text-center">
                  <span class="badge bg-info">200 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="https://images02.vietnamworks.com/mobile_banner/dba0b0db9049d141295c7a293b6a988c.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">
                  Engineering & Sciences
                </h5>
                <div class="text-center">
                  <span class="badge bg-info">1500 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="" class="category-link">
            <div class="card">
              <div class="d-flex align-items-center justify-content-center p-3">
                <img
                  src="	https://images02.vietnamworks.com/mobile_banner/ec4d97f5e0b225db38a01f2e363628b3.png"
                  alt=""
                  height="100%"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center category-name">
                  Banking & Financial Services
                </h5>
                <div class="text-center">
                  <span class="badge bg-info">70 jobs</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-4">
    <div class="container">
      <div>
        <img
          src="./assets/images/1392_326_124937.png"
          alt=""
          width="100%"
          style="border-radius: 6px"
        />
      </div>
    </div>
  </section>
  <!-- <section class="job-section mb-4">
    <div class="container border rounded p-3 bg-white">
      <h3>Recommendation Jobs</h3>
      <hr />
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
          <app-job-item></app-job-item>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <app-job-item></app-job-item>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <app-job-item></app-job-item>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <app-job-item></app-job-item>
        </div>
      </div>
    </div>
  </section> -->
  <section class="category-section mb-4">
    <div class="container border rounded p-3 bg-white">
      <h3 class="mb-3">Career Advice From HR Insider</h3>
      <div class="row g-3">
        @for (post of postList; track $index) {
          <div class="col-6 col-md-4 col-lg-3">
            <app-post-item [post]="post"></app-post-item>
          </div>
        }
      </div>
    </div>
  </section>
</main>
