<section class="my-3">
  <div class="container">
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Jobs
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ jobList?.length }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-success text-uppercase mb-1"
                >
                  Total Applys
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalApplications }}</div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-user-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="border rounded shadow p-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @if (jobList) { @for (job of jobList; track $index) {
          <tr>
            <td>{{ job.jobId }}</td>
            <td>{{ job.name }}</td>
            <td>{{ job.salary }}</td>
            <td>{{ job.createdAt | date : "M/d/yy, h:mm a" }}</td>
            <td>
              <div class="d-flex align-items-center justify-content-between">
                <a class="btn btn-info" routerLink="{{ job.jobId }}">
                  <i class="fa-regular fa-eye"></i>
                </a>
                <button class="btn btn-warning">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteJobModal"
                  (click)="changeJobSelect(job)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="5">Job Not Found</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="deleteJobModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Job</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete the job with this ID {{ jobSelected?.jobId }}?</h5>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="deleteJob()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
