<section>
  <div class="container">
    <div class="row bg-info p-2 my-4">
      <div class="col">
        @if (message) {
        <div class="alert alert-success">{{ message }}</div>
        }
      </div>
      <div class="col text-end">
        <div class="d-flex align-items-center">
          <label for="status" class="me-3">Status: </label>
          <select
            class="form-select"
            aria-label="Default select"
            name="status"
            id="status"
            (change)="changeStatus()"
            [(ngModel)]="statusSelected"
          >
            <option
              value="Pending"
              [selected]="application?.status === 'Pending'"
            >
              Pending
            </option>
            <option
              value="Rejected"
              [selected]="application?.status === 'Rejected'"
            >
              Rejected
            </option>
            <option value="Hired" [selected]="application?.status === 'Hired'">
              Hired
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card mb-4">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="https://media.istockphoto.com/id/940475680/photo/close-up-portrait-of-cheerful-brunet-young-man-in-jeans-shirt-crossing-hands-and-look-at.jpg?s=612x612&w=0&k=20&c=FFduZf0U7qxwIfkrzAPHXgxK2LoZf86i74rFtex6cLw="
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ application?.user?.fullName }}</h5>
                <div class="d-flex">
                  <div>
                    <p class="card-text">
                      Date of Birth: {{ application?.user?.dateOfBirth }}
                    </p>
                    <p class="card-text">
                      Gender: {{ application?.user?.gender }}
                    </p>
                    <p class="card-text">Specialization: AI</p>
                  </div>
                  <span class="mx-2"></span>
                  <div>
                    <p class="card-text">
                      Address: {{ application?.user?.address }}
                    </p>
                    <p class="card-text">
                      Email: {{ application?.user?.email }}
                    </p>
                    <p class="card-text">
                      Phone: {{ application?.user?.phone }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border rounded shadow-sm p-3 mb-4">
      <h4 class="mb-4">CV</h4>
      <div class="col">
        <div>
          <img [src]="application?.cv" alt="CV" width="100%" />
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="alert alert-light">
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteJobModal"
          >
            Delete Profile
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="deleteJobModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Job</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h5>
            Are you sure you want to delete the job with this ID
            {{ application?.applicationId }}?
          </h5>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-danger"
            (click)="deleteProfile()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
