<section class="py-4">
    <div class="container">
        <div class="p-3 border rounded shadow">
            <form [formGroup]="formJob" (ngSubmit)="onSubmit()">
                <h4>Create Job</h4>
                <hr>
                <div class="row">
                    <div class="col col-lg-6">
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Name<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="name" formControlName="name"  [ngClass]="(name?.errors && (name?.dirty || name?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter name job" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="fields" class="form-label">Field<span style="color: red;">*</span></label>
                            <select id="fields" class="form-control form-select" formControlName="field" [ngClass]="(field?.errors && (field?.dirty || field?.touched)) ? 'is-invalid' : ''">
                                @for (field of fieldList; track $index) {
                                <option value="{{ $index }}">{{ field.name }}</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="salary" class="form-label">Salary<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="salary" formControlName="salary" [ngClass]="(salary?.errors && (salary?.dirty || salary?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter salary job" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="location" class="form-label">Location<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="location" formControlName="location" [ngClass]="(location?.errors && (location?.dirty || location?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter location job" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="requirement" class="form-label">Requirement<span
                                    style="color: red;">*</span></label>
                            <textarea class="form-control" id="requirement" rows="6" formControlName="requirement" [ngClass]="(requirement?.errors && (requirement?.dirty || requirement?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter requirement job" (input)="onTextareaInput($event)" required></textarea>
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <div class="form-group mb-3">
                            <label for="description" class="form-label">Description<span
                                    style="color: red;">*</span></label>
                            <textarea class="form-control" id="description" rows="6" formControlName="description" [ngClass]="(description?.errors && (description?.dirty || description?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter description job" (input)="onTextareaInput($event)" required></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="offer" class="form-label">Offer<span style="color: red;">*</span></label>
                            <textarea class="form-control" id="offer" rows="6" formControlName="offer" [ngClass]="(offer?.errors && (offer?.dirty || offer?.touched)) ? 'is-invalid' : ''"
                                placeholder="Enter offer job" (input)="onTextareaInput($event)" required></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="d-flex align-items-center justify-content-between">
                        @if (message) {
                            <div class="alert" [ngClass]="isError ? 'alert-danger' : 'alert-success'"> {{ message }}</div>
                        }
                        <div></div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary px-md-5">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
