<header class="header">
    <nav class="navbar navbar-expand-lg px-3">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"><i class="fa-solid fa-briefcase"></i>Worldworks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/companies">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/my-job">My job</a>
                    </li>
                </ul>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <div>
                        <a routerLink="/employer/home" class="employer-link">FOR EMPLOYERS</a>
                    </div>
                    <span class="px-3"></span>
                    @if (isLogged) {
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                            <i class="fa-solid fa-caret-down text-white px-1"></i>
                        </a>
                        <ul class="dropdown-menu p-3 text-small shadow"
                            style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                            <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
                            @if (user.role === 'ADMIN') {
                              <li><a class="dropdown-item" routerLink="/admin/dashboard">Admin Dashboard</a></li>
                            }
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
                        </ul>
                    </div>
                    } @else {
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            Login
                        </button>
                        <ul class="dropdown-menu p-3"
                            style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                            <h5>Job Seeker Login</h5>
                            <li><a class="dropdown-item" routerLink="/login"><i
                                        class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                            <li><a class="dropdown-item" routerLink="/register"><i class="fa-solid fa-user-plus"></i>
                                    Register an account</a></li>
                        </ul>
                    </div>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="container py-3">
      <form [formGroup]="formSearch" (ngSubmit)="onSearch()">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" formControlName="name" placeholder="Search jobs">
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Location All</option>
            <option value="1">Hà Nội</option>
            <option value="2">TP Hồ Chí Minh</option>
            <option value="3">Đà Nẵng</option>
            <option value="4">Hải Phòng</option>
          </select>
          <button type="submit" class="btn btn-warning">Search</button>
      </div>
      </form>
    </div>
</header>
