<div class="container-fluid">
  <div class="content">
    <div>
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Fields TOTAL
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ fieldList.length }}
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-image fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">Field List</h6>
              <div>
                <button
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#createFieldModal"
                >
                  +New Field
                </button>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th style="max-width: 3rem">ID</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (field of fieldList; track $index) {
                    <tr>
                      <td>{{ field.fieldId }}</td>
                      <td>
                        <div>
                          {{ field.name }}
                        </div>
                      </td>
                      <td>
                        <div
                          class="d-flex align-items-center justify-content-center w-100"
                        >
                          <button class="btn btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                          <span class="mx-2"></span>
                          <button
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteFieldModal"
                            (click)="changeFieldSelect(field)"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div></div>
  </div>
</div>
<div
  class="modal fade"
  id="deleteFieldModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Field</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>
          Are you sure you want to delete the Field with this ID
          {{ fieldSelected?.fieldId }}?
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-danger"
          (click)="deleteField()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="createFieldModal"
    tabindex="-1"
    aria-labelledby="modalField"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalField">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
