<section>
  <div class="container">
    <div class="row my-4">
      <div class="col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="job?.company?.logo" class="rounded-start" width="200px" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ job?.name }}</h5>
                <a [href]="job?.company?.website" class="text-decoration-none" style="color: #555;">{{ job?.company?.name }}</a>
                <p class="card-text">{{ job?.salary }}</p>
                <p class="card-text">Job Location: {{ job?.location }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 p-3 border mb-4">
      <h4 class="mb-2">APPLY</h4>
      @if (applicationList?.length != 0) {
        @for (apply of applicationList; track $index) {
          <div class="col-6 col-lg-3 col-md-4">
            <div class="card shadow-sm">
              <img src="https://media.istockphoto.com/id/940475680/photo/close-up-portrait-of-cheerful-brunet-young-man-in-jeans-shirt-crossing-hands-and-look-at.jpg?s=612x612&w=0&k=20&c=FFduZf0U7qxwIfkrzAPHXgxK2LoZf86i74rFtex6cLw=" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ apply.user?.fullName }}</h5>
                @if (apply.user?.gender) {
                  <div class="card-text">{{ apply.user?.gender }} | {{ apply.user?.dateOfBirth }}</div>
                }
                <p class="card-text cover-letter">{{ apply.coverLetter }}</p>
                <a [routerLink]="['/employer/apply', apply.applicationId]" class="btn btn-primary">Profile</a>
              </div>
            </div>
          </div>
        }
      } @else {
        <h4>Apply not Found</h4>
      }
    </div>
  </div>
</section>
