<div class="container mb-4">
  <h2 class="my-2">Find Your Best Working Place</h2>
  <div class="mb-3">Discover companies from the inside and find your best working place.</div>
  <div class="mb-3">
      <div class="input-group" style="max-width: 40rem;">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" placeholder="Search company" style="box-shadow: 0;">
          <button type="button" class="btn btn-warning">Search</button>
      </div>
  </div>
  <div class="py-3 sounded" style="background-color: #ffffff; border: 6px;">
      <h5>Featured Companies</h5>
      <div class="row g-3">
        @if (companies) {
          @for (company of companies; track $index) {
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card shadow-sm">
                  <img [src]="company.logo" alt="" class="card-img-top" height="150px">
                  <div class="card-body">
                      <a [href]="company.website" class="h5 card-title text-decoration-none company-name">
                          {{ company.name }}
                      </a>
                      <a [routerLink]="['/companies', company.companyId]" class="btn btn-success w-100" target="_blank">
                          Details
                      </a>
                  </div>

              </div>
          </div>
          }
        } @else {
          <h4>Company not found</h4>
        }
      </div>
  </div>
</div>
