<section class="mb-5">
    <div>
        <img src="./assets/images/emp_hero_banner_1440_298.jpg" alt="" class="w-100">
    </div>
</section>
<section>
    <div class="container mb-7">
        <h2 class="text-center">
            WHAT WE OFFER
        </h2>
        <p class="text-center">
            We provide a variety of services which help employers connect with more talents, so they can hire faster
        </p>
    </div>
</section>
<section>
    <div class="container mb-7">
        <div class="row">
            <div class="col-md-6">
                <img src="https://employer.vietnamworks.com/v2/img/gallery/home-offer-5.svg?v=1702309232" alt="" class="w-100">
            </div>
            <div class="col-md-6">
                <h3>Post Job</h3>
                <h3 class="text-origin">900,000VND</h3>
                <div>
                    <span style="text-decoration: line-through;">1,000,000 VND</span>
                    <span class="text-origin"> -10% when buy online</span>
                </div>
                <div>
                    <ul class="p-0" style="list-style: none;">
                        <li><i class="fa-solid fa-circle-check icon-check"></i> 100% Satisfaction guaranteed</li>
                        <li><i class="fa-solid fa-circle-check icon-check"></i> Post a job and receive applications quickly</li>
                        <li><i class="fa-solid fa-circle-check icon-check"></i> Manage your application online easily</li>
                    </ul>
                </div>
                <div style="color: #555;">
                    Applies only to online orders and cannot be combined with other promotions
                </div>
                <button class="my-3 btn-buynow">Buy Now</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-7">
        <div class="row">
            <div class="col-md-6">
                <h3>Employer Branding</h3>
                <h3 class="text-origin">2,000,000VND</h3>
                <div>
                    <ul class="p-0" style="list-style: none;">
                        <li><i class="fa-solid fa-circle-check icon-check"></i> More than 7 million job seekers visit VietnamWorks a month</li>
                        <li><i class="fa-solid fa-circle-check icon-check"></i> Employer logos and banners have been optimized to attract the most qualified candidates</li>
                    </ul>
                </div>
                <button class="my-3 btn-buynow">Contact Us</button>
            </div>
            <div class="col-md-6">
                <img src="https://employer.vietnamworks.com/v2/img/gallery/home-offer-6.svg?v=1702310056" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-7">
        <div class="row">
            <div class="col-md-6">
                <img src="https://employer.vietnamworks.com/v2/img/gallery/home-offer-2.svg" alt="" class="w-100">
            </div>
            <div class="col-md-6">
                <h3>Search Resume</h3>
                <h3 class="text-origin">1,350,000VND</h3>
                <div>
                    <span style="text-decoration: line-through;">1,500,000 VND</span>
                    <span class="text-origin"> -10% when buy online</span>
                </div>
                <div>
                    <ul class="p-0" style="list-style: none;">
                        <li><i class="fa-solid fa-circle-check icon-check"></i> 30-day unlimited access to professionals database</li>
                        <li><i class="fa-solid fa-circle-check icon-check"></i> Get results that precisely match people with your jobs</li>
                        <li><i class="fa-solid fa-circle-check icon-check"></i> Proactively search for candidates and start hiring today</li>
                    </ul>
                </div>
                <div style="color: #555;">
                    Applies only to online orders and cannot be combined with other promotions
                </div>
                <button class="my-3 btn-buynow">Buy Now</button>
            </div>
        </div>
    </div>
</section>
