<section class="my-job-section my-4">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-12 col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header">
            <h4>The Job Applied For</h4>
          </div>
          <div class="card-body">
            @if (myJobs?.length != 0) {
              @for (myJob of myJobs; track $index) {
              <div class="card mb-4">
                <div class="row g-0">
                  <div class="col-3 d-flex align-items-center justify-content-center">
                    <img
                      [src]="myJob.job?.company?.logo"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-7">
                    <div class="card-body">
                      <h5 class="card-title job-name">
                        <a [routerLink]="['/jobs', myJob.job?.jobId]">{{
                          myJob.job?.name
                        }}</a>
                      </h5>
                      <div class="card-text company-name">
                        <a [href]="myJob.job?.company?.website">{{
                          myJob.job?.company?.name
                        }}</a>
                      </div>
                      <div class="card-text job-salary">{{ myJob.job?.salary }}</div>
                      <div class="card-text job-location">{{ myJob.job?.location }}</div>
                    </div>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <div class="p-2"><span class="badge text-bg-success" style="font-weight: 600; font-size: 1.25rem;">{{ myJob.status }}</span></div>
                  </div>
                </div>
              </div>
              } } @else {
              <h4>You haven't applied to any jobs yet?</h4>
              }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header">
            <h4>Favorite Job</h4>
          </div>
          <div class="card-body">
            @if (favoriteJobs?.length != 0) {
              @for (favoriteJob of favoriteJobs; track $index) {
                <div class="mb-3">
                  <app-job-item [job]="favoriteJob.job"></app-job-item>
                </div>
              }
            } @else {
              <div>Favorite Job Not Found.</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
