<header class="header">
    <nav class="navbar navbar-expand-lg px-3">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"><i class="fa-solid fa-briefcase"></i>Worldworks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @if (employer) {
                          <a class="nav-link active" aria-current="page" routerLink="/employer/dashboard">Dashboard</a>
                        } @else {
                          <a class="nav-link active" aria-current="page" routerLink="/employer/home">Home</a>
                        }
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Jobs
                        </a>
                        <ul class="dropdown-menu p-3">
                            <li><a class="dropdown-item" routerLink="/employer/create-job">Create job</a></li>
                            <li><a class="dropdown-item" routerLink="/employer/job-list">Job list</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/employer/company">Company</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Posts
                      </a>
                      <ul class="dropdown-menu p-3">
                          <li><a class="dropdown-item" routerLink="/employer/create-post">Create Post</a></li>
                          <li><a class="dropdown-item" routerLink="/employer/post-list">Post list</a></li>
                      </ul>
                  </li>
                </ul>
                @if (employer) {
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <i class="fa-solid fa-caret-down text-white px-1"></i>
                    </a>
                    <ul class="dropdown-menu p-3 text-small shadow"
                        style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
                    </ul>
                </div>
                } @else {
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <span class="px-3"></span>
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            Login
                        </button>
                        <ul class="dropdown-menu p-3"
                            style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                            <h5>Employer Login</h5>
                            <li><a class="dropdown-item" routerLink="/employer/login"><i
                                        class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                            <li><a class="dropdown-item" routerLink="/employer/register"><i
                                        class="fa-solid fa-user-plus"></i>
                                    Register an account</a></li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>
    </nav>
</header>
