.header {
    background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
    .navbar-brand {
        color: #ffffff;
    }

    .nav-link {
        color: #ffffff;
    }

    .employer-link {
        color: rgba($color: #ffffff, $alpha: .85);
        text-decoration: none;
        font-weight: 500;
        transition: all ease-in .15s;
    }
    .employer-link:hover {
        color: rgba($color: #ffffff, $alpha: 1.0);
    }
}