<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Login with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          @if (errorMessage) {
          <div class="alert alert-danger mb-4">{{ errorMessage }}</div>
          }

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" class="form-control" formControlName="email" required autofocus />
            @if (email?.dirty || email?.touched) {
            @if (email?.errors?.['required']) {
            <div style="color: red;">Email is required.</div>
            }
            @if (email?.errors?.['email']) {
            <div style="color: red;">Email Invalid.</div>
            }
            }
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control" formControlName="password" required />
            @if (password?.errors?.['required'] && (password?.dirty || password?.touched)) {
            <div style="color: red;">Password is required.</div>
            }
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;"
              [disabled]="loading">
              @if (loading) {
              <span class="spinner-border spinner-border-sm"></span>
              }
              <span role="status">Login</span>
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>